profiles {

    local {
        process.executor  = 'local'
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
    }

    conda_local {
        process.executor = 'local'
        conda.enabled    = true
    }

}

workDir        = 'datos-intermedios/nextflow-work'
conda.cacheDir = "$HOME/.conda-nf-cache"
